<ng-container>
    <li class="list-group-item list-group-item-action">
        <span class="cat-title">Computers:</span>
        <ul class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item list-group-item-action">
                Laptops
            </li>
            <li class="list-group-item list-group-item-action">
                Desktop
            </li>
            <li class="list-group-item list-group-item-action">
                Monitors
            </li>
            <li class="list-group-item list-group-item-action">
                Keyboards
            </li>
            <li class="list-group-item list-group-item-action">
                Mouse
            </li>
            <li class="list-group-item list-group-item-action">
                Printers
            </li>
        </ul>
    </li>
    <li>
        <span class="cat-title">Gaming:</span>
        <ul class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item list-group-item-action">
                Consoles
            </li>
            <li class="list-group-item list-group-item-action">
                Games
            </li>
            <li class="list-group-item list-group-item-action">
                Controllers
            </li>
            <li class="list-group-item list-group-item-action">
                Gaming merch
            </li>
        </ul>
    </li>
    <li>
        <span class="cat-title">Mobile:</span>
        <ul class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item list-group-item-action">
                Smartphones
            </li>
            <li class="list-group-item list-group-item-action">
                Tablets
            </li>
            <li class="list-group-item list-group-item-action">
                Cases
            </li>
            <li class="list-group-item list-group-item-action">
                Accessories
            </li>
        </ul>
    </li>
    <li>
        <span class="cat-title">Electronics:</span>
        <ul class="list-group list-group-flush list-group-numbered">
            <li class="list-group-item list-group-item-action">
                Headphones
            </li>
            <li class="list-group-item list-group-item-action">
                Speakers
            </li>
            <li class="list-group-item list-group-item-action">
                Storage
            </li>
            <li class="list-group-item list-group-item-action">
                Smartwatches
            </li>
        </ul>
    </li>
</ng-container>